body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
}

fieldset {
    border: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden {
    display: none;
}

.button {
    position: relative;
    padding: 10px 25px;

    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;

    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 25px;
    border: none;
}

.button:hover::before,
.button:focus::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
} 

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 20px;
} 

.button:active {
    background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.underline {
    box-shadow:
    inset 0 0px #849d8f, 
    inset 0 -1px rgba(255, 255, 255, 0.3);
}
  
.main-nav-list {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.main-nav-list .underline {
    box-shadow:
    inset 0 -6px #849d8f, 
    inset 0 -7px rgba(255, 255, 255, 0.3);
}

.call-hidden:hover .hidden,
.call-hidden:focus .hidden {
    display: block;
}

.main-nav-submenu {
    font-size: 14px;
    line-height: 16px;
}

.main-nav-submenu a {
    color: #323232;
    background-color: #f8f7f4;
    font-weight: 400;
}

.submenu-item:first-child a {
    font-weight: 700;
}

.main-nav-submenu a:hover,
.main-nav-submenu a:focus {
    background-color: #fbded8;
}

.main-nav-submenu a:active {
    background-color: #f6b5a5;
}

.main-nav-link {
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.main-nav-link:hover,
.main-nav-link:focus,
.user-nav-link:hover,
.user-nav-link:focus {
    color: #000000;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: none;
    outline: none;
}

.main-nav-link:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);   
}

.user-nav-link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 15px;
}

.dropdown {
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.dropdown input {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    width: 241px;
    height: 44px;
    color: #323232;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 6px;
}

.dropdown input:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.dropdown input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    font-weight: 700;
    color: #323232;
}

.dropdown input::placeholder {
    font-weight: 400;
    color: #999999;
}  

.dropdown a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
    box-shadow:
    inset 0 0 #f8f7f4, 
    inset 0 -1px #adacaa;
}

.header-contacts .time {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
} 

.header-contacts .phone {
    font-size: 22px;
    line-height: 24px;
}
  
.slider {
    text-align: center;
}

.slider p {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    width: 670px;
}

.slider .button {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    border-radius: 30px;
}

.slider .button:hover::before,
.slider .button:focus::before {
    border-radius: 30px;
} 

.banners {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.banners h3 {
    font-size: 35px;
    line-height: 41px;
}

.banner {
    width: 560px;
    height: 229px;
    border-radius: 15px;
}

.banner-raspberry {
    background-color: #98334f;
    background-image: url(../img/raspberry-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.banner-choco {
    background-color: #42271a;
    background-image: url(../img/choco-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.bestseller-item a {
    display: block;
}

.bestseller-item img {
    border-radius: 135px;
}

.goods-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.goods-price span {
    font-size: 30px;
} 

.goods-desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.about-us {
    width: 1146px;
    height: 306px;
    border-radius: 18px;

    background-color: #ebdfc6;
    background-image: url(../img/waffle-bg.jpg);
    background-position: 0 0;
    background-repeat: repeat;

    color: #323232;
    font-weight: 400;
}

.about-us p:first-of-type {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.blog {
    width: 560px;
    height: 220px;
    border-radius: 10px;

    background-color: #ffffff;
    background-image: url(../img/strawberry-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;

    color: #323232;
}

.blog h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.blog a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    display: block;
    width: 335px;
}

.mailing {
    position: relative;
    width: 560px;
    height: 220px;
    border-radius: 15px;

    color: #666666;
    font-weight: 400;

    background-color: #f8f7f4;
    background-image: repeating-linear-gradient(-45deg, #fe9e90, #fe9e90 8px, transparent 8px, transparent 16px, #92cdff 16px, #92cdff 24px, transparent 24px, transparent 32px);   
}

.substrate {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 550px;
    height: 210px;
    border-radius: 15px;
    
    background-color: #f8f7f4;
}

.mailing input {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    width: 241px;
    height: 44px;
    color: #323232;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 6px;
}

.mailing input:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.mailing input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    font-weight: 700;
    color: #323232;
}

.mailing input::placeholder {
    font-weight: 400;
    color: #999999;
}

.map {
    text-align: center;
    position: relative;
}

.contacts {
    position: absolute;
    right: 187px;
    top: 62px;

    width: 302px;
    height: 305px;
    border-radius: 15px;

    background-color: #fefefe;
    background-image: url(../img/light-pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;

    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.contacts span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.footer-nav {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.footer-nav a {
    box-shadow: 
    inset 0 0px #849d8f, 
    inset 0 -1px rgba(255, 255, 255, 0.3);
}

.footer-nav li:first-child {
    font-weight: 700;
}

.footer-copyright p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.footer-copyright a {
    box-shadow: 
    inset 0 0px #849d8f, 
    inset 0 -1px rgba(255, 255, 255, 0.3);
}

.modal {
    background-color: #f8f7f4;
    border-radius: 6px;

    color: #323232;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.modal input, .modal textarea {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;

    padding: 0 14px;
}

.modal input {
    width: 267px;
    height: 44px;
}

.modal textarea {
    width: 428px;
    height: 155px;
    padding-top: 12px;
}

.modal input:hover, .modal textarea:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal input:focus, .modal textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    font-weight: 700;
    color: #323232;
}

.modal input::placeholder, .modal textarea::placeholder {
    font-weight: 400;
    color: #999999;
}

  