body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

fieldset {
    border: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden {
    display: none;
}

.button {
    position: relative;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    height: 44px;
    color: #fefefe;
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 20px;
    border: none;
}

.button:hover::before,
.button:focus::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
} 

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 20px;
} 

.button:active {
    background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}
  
.main-nav-list {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.call-hidden:hover .hidden,
.call-hidden:focus .hidden {
    display: block;
}

.main-nav-submenu {
    font-size: 14px;
    line-height: 16px;
}

.main-nav-submenu a {
    color: #323232;
    background-color: #f8f7f4;
    font-weight: 400;
}

.submenu-item:first-child a {
    font-weight: 700;
}

.main-nav-submenu a:hover,
.main-nav-submenu a:focus {
    background-color: #fbded8;
}

.main-nav-submenu a:active {
    background-color: #f6b5a5;
}

.main-nav-item {
    vertical-align: middle;
}

.main-nav-link {
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.underline {
    box-shadow:
    inset 0 -6px #849d8f, 
    inset 0 -7px rgba(255, 255, 255, 0.3);
}

.main-nav-link:hover,
.main-nav-link:focus,
.user-nav-link:hover,
.user-nav-link:focus {
    color: #000000;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: none;
    outline: none;
}

.main-nav-link:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);   
}

.user-nav-link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 15px;
}

.dropdown {
    background-color: #f8f5f2;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.dropdown input {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 6px;
}

.dropdown input:hover {
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.dropdown input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    font-weight: 700;
    color: #323232;
}

.dropdown input::placeholder {
    font-weight: 400;
    color: #999999;
}  

.dropdown a {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;
    box-shadow:
    inset 0 0 #f8f7f4, 
    inset 0 -1px #adacaa;
}

.header-contacts .time {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
} 

.header-contacts .phone {
    font-size: 22px;
    line-height: 24px;
}
  
